In [66]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split,cross_validate
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Customer-Behaviour.csv")

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df.shape

(400, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [6]:
df.corr()

                  User ID       Age  EstimatedSalary  Purchased
User ID          1.000000 -0.000721         0.071097   0.007120
Age             -0.000721  1.000000         0.155238   0.622454
EstimatedSalary  0.071097  0.155238         1.000000   0.362083
Purchased        0.007120  0.622454         0.362083   1.000000

In [7]:
df.Gender.value_counts()

Female    204
Male      196
Name: Gender, dtype: int64

In [8]:
df.Purchased.value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [9]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [10]:
lb=LabelEncoder()
df['Gender']=lb.fit_transform(df['Gender'])
df['Gender'].value_counts()

0    204
1    196
Name: Gender, dtype: int64

In [11]:
df=df.drop(['User ID'],axis=1)

In [13]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)

In [31]:
lr=MLPClassifier()
lr=lr.fit(x_train,y_train)
cross_val=cross_validate(lr,x_train,y_train, scoring=['accuracy','precision','recall','f1'],cv=5)
y_pred_lr=lr.predict(x_test)
for k,v in cross_val.items():
    print(k,v.mean())

fit_time 0.10973291397094727
score_time 0.011392879486083984
test_accuracy 0.584375
test_precision 0.071875
test_recall 0.2
test_f1 0.10574712643678161

In [79]:
rf=RandomForestClassifier()
rf=rf.fit(x_train,y_train)
cross_val=cross_validate(rf,x_train,y_train, scoring=['accuracy','precision','recall','f1'],cv=10)
y_pred_rf=rf.predict(x_test)
for k,v in cross_val.items():
    print(k,np.mean(v))
# print('Random forest Precision:',precision_score(y_test,y_pred_rf))
# print('Random forest Recall:',recall_score(y_test,y_pred_rf))
# print('Random forest F1-score:',f1_score(y_test,y_pred_rf))
# print('Random forest Accuracy:',accuracy_score(y_test,y_pred_rf))

fit_time 0.7383458614349365
score_time 0.044172024726867674
test_accuracy 0.884375
test_precision 0.8391996239055063
test_recall 0.8613636363636363
test_f1 0.8440198232552054

In [34]:
svm=SVC()
svm=svm.fit(x_train,y_train)
cross_val=cross_validate(svm,x_train,y_train, scoring=['accuracy','precision','recall','f1'],cv=5)
y_pred_svm=svm.predict(x_test)
for k,v in cross_val.items():
    print(k,v.mean())
# print('Support vector machine Precision:',precision_score(y_test,y_pred_svm))
# print('Support vector machine Recall:',recall_score(y_test,y_pred_svm))
# print('Support vector machine F1-score:',f1_score(y_test,y_pred_svm))
# print('Support vector machine Accuracy:',accuracy_score(y_test,y_pred_svm))

fit_time 0.011392831802368164
score_time 0.02398543357849121
test_accuracy 0.771875
test_precision 0.8685314685314687
test_recall 0.43478260869565216
test_f1 0.5780748663101604

In [22]:
# #Testing Model for prediction
# df2=df[df.Purchased==0].head()
# df3=df[df.Purchased==1].head()
# df4=pd.concat([df2.head(3),df3.head(3)])
# #Customers will not buy test
# print(rf.predict(np.array([[1,19,19000]])))
# print(rf.predict(np.array([[1,35,20000]])))
# print(rf.predict(np.array([[0,26,43000]])))

# #Customers will buy Test
# print(rf.predict(np.array([[0,32,150000]])))
# print(rf.predict(np.array([[1,47,25000]])))
# print(rf.predict(np.array([[0,45,26000]])))

In [60]:
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dropout,Dense
# ann_model=Sequential()
# ann_model.add(Dense(units=x_train.shape[1],activation='relu'))
# ann_model.add(Dense(units=32,activation='relu'))
# ann_model.add(Dropout(0.2))
# ann_model.add(Dense(units=16,activation='relu'))
# ann_model.add(Dropout(0.2))
# ann_model.add( Dense(units=8,activation='relu'))
# ann_model.add(Dropout(0.2))
# ann_model.add(Dense(units=1,activation='sigmoid'))
# ann_model.compile(loss='binary_crossentropy',optimizer='adam',metrics='accuracy')
# his=ann_model.fit(x_train,y_train,validation_split=0.2,batch_size=32,epochs=100)

# plt.plot(his.history['accuracy'])
# plt.plot(his.history['val_accuracy'])
# plt.legend(['Train','Test'])
# plt.title('Model Accuracy')
# plt.ylabel('loss')
# plt.show()plt.plot(his.history['loss'])
# plt.plot(his.history['val_loss'])
# plt.legend(['Train','Test'])
# plt.title('Model Loss')
# plt.ylabel('loss')
# plt.show()